<p>actualiza-empleado works!</p>
<form action="" class="form-group row">
    <div class="form-group col-md-3">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control" [(ngModel)]="txtNombre">
    </div>

    <div class="form-group col-md-3">
        <label for="apellido">Apellido:</label>
        <input type="text" name="apellido" id="apellido" placeholder="Apellido" class="form-control"
            [(ngModel)]="txtApellido">
    </div>

    <div class="form-group col-md-3">
        <label for="cargo">Cargo:</label>
        <input type="text" name="cargo" id="cargo" placeholder="Cargo" class="form-control" [(ngModel)]="txtCargo">
    </div>

    <div class="form-group col-md-3">
        <label for="salario">Salario:</label>
        <input type="number" name="salario" id="salario" placeholder="Salario" class="form-control"
            [(ngModel)]="txtSalario"><br>
    </div>

    <div class="col">
        <button style="margin-right: 20px;" type="submit" class="btn btn-primary" value="" (click)="actualizaEmpleado()">Aceptar</button>
        <!--<button type="submit" class="btn btn-primary" value="" (click)="eliminarEmpleado()">Eliminar</button>-->
    </div>

</form>
<div style="text-align: center;">
    <button class="btn btn-primary" (click)="aHome()">Volver</button>
</div>