<div class="container">
    <div class="row">
        <div class="col">
            <div>
                {{i+1}}. {{empleado.nombre}} {{empleado.apellido}} <span
                    [ngClass]="{directores: empleado.cargo=='Director'}">{{empleado.cargo}}</span>
                {{empleado.salario}}
                <a [routerLink]="['/actualiza', i]" [queryParams]="{accion:'1'}">Actualizar</a>&nbsp;&nbsp;
                <a [routerLink]="['/actualiza', i]" [queryParams]="{accion:'2'}">Eliminar</a>
            </div>

            <ul style="list-style: none;">
                <li *ngFor="let item of arrayCaract">{{item}}</li>
            </ul>
            <app-caracteristica-empleado (caracteristicasEmpleado)="agregarCaract($event)">
            </app-caracteristica-empleado>
        </div>
    </div>
</div>